<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crud Vuejs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="appcrud" class="container">
        <!-- formulario -->
        <section>
            <div class="header">
                <h2>Bienvenido, CrudVuejs</h2>
            </div>
            <div class="form-group row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-4">
                    <input v-model="nombre" type="text" class="form-control" id="nombre">
                </div>
            </div>
            <div class="form-group row">
                <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
                <div class="col-sm-4">
                    <input v-model="apellido" type="text" class="form-control" id="apellido">
                </div>
            </div>
            <div class="form-group row">
                <label for="edad" class="col-sm-2 col-form-label">Edad</label>
                <div class="col-sm-4">
                    <input v-model="edad" type="number" class="form-control" name="edad" id="edad">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <button @click="crear" type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </div>
        </section>

        <!-- tabla de datos -->
        <section class="data">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(paciente, index) in pacientes">
                        <td>
                            <span v-if="formActualizar && idActualizar == index">
                                <!-- Formulario para actualizar -->
                                <input v-model="nombreActualizar" type="text" class="form-control">
                            </span>
                            <span v-else>
                                <!-- Dato nombre -->
                                {{ paciente.nombre }}
                            </span>
                        </td>
                        <td>
                            <span v-if="formActualizar && idActualizar == index">
                                <!-- Formulario para actualizar -->
                                <input v-model="apellidoActualizar" type="text" class="form-control">
                            </span>
                            <span v-else>
                                <!-- Dato nombre -->
                                {{ paciente.apellido }}
                            </span>
                        </td>
                        <td>
                            <span v-if="formActualizar && idActualizar == index">
                                <!-- Formulario para actualizar -->
                                <input v-model="edadActualizar" type="text" class="form-control">
                            </span>
                            <span v-else>
                                <!-- Dato edad -->
                                {{ paciente.edad }}
                            </span>
                        </td>
                        <td>
                            <!-- Botón para guardar la información actualizada -->
                            <span v-if="formActualizar && idActualizar == index">
                                <button @click="guardarActualizacion(index)" class="btn btn-success">Guardar</button>
                            </span>
                            <span v-else>

                                <button @click="verFormActualizar(index)" class="btn btn-warning">Actualizar</button>

                                <button @click="borrarPaciente(index)" class="btn btn-danger">Borrar</button>

                                <button @click="exportExcel(index)" class="btn btn-success">Descargar</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><pre>data: {{$data | json 2}}</pre></p>
        </section>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Vue({
                el: '#appcrud',
                data: {
                    nombre: '',
                    apellido: '',
                    edad: '',
                    formActualizar: false,
                    idActualizar: -1,
                    nombreActualizar: '',
                    apellidoActualizar: '',
                    edadActualizar: '',
                    pacientes: []
                },

                methods: {
                    crear: function () {
                        // ingresar a lista
                        this.pacientes.push({
                            nombre: this.nombre,
                            apellido: this.apellido,
                            edad: this.edad
                        });
                        // vaciamos el formulario de añadir
                        this.nombre = '';
                        this.apellido = '';
                        this.edad = '';
                    },

                    verFormActualizar: function (paciente_id) {
                        // Antes de mostrar el formulario de actualizar, rellenamos sus campos
                        this.idActualizar = paciente_id;
                        this.nombreActualizar = this.pacientes[paciente_id].nombre;
                        this.apellidoActualizar = this.pacientes[paciente_id].apellido;
                        this.edadActualizar = this.pacientes[paciente_id].edad;
                        // Mostramos el formulario
                        this.formActualizar = true;
                    },

                    borrarPaciente: function (paciente_id) {

                        this.pacientes.splice(paciente_id, 1);
                    },

                    guardarActualizacion: function (paciente_id) {
                        // Ocultamos nuestro formulario de actualizar
                        this.formActualizar = false;
                        // Actualizamos los datos
                        this.pacientes[paciente_id].nombre = this.nombreActualizar;
                        this.pacientes[paciente_id].apellido = this.apellidoActualizar;
                        this.pacientes[paciente_id].edad = this.edadActualizar;
                    },

                    exportExcel: function (paciente_id) {
                      let data = XLSX.utils.json_to_sheet(this.pacientes)
                      const workbook = XLSX.utils.book_new()
                      const filename = 'datosvuejs'
                      XLSX.utils.book_append_sheet(workbook, data, filename)
                      XLSX.writeFile(workbook, `${filename}.xlsx`)
                    },
                }
            });
        });
    </script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.1/xlsx.full.min.js"></script>
</body>
</html>